<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>UD Composite</title>
  <meta name="description" content="UD Composite Data">
  <meta name="author" content="VSN Reddy Janga">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

</head>
<body>
  <h1 style="margin-left:35%">UD Composite Data</h1>

  <h4 style="margin-left:35%" id="minRadius"></h4>

  <div id="svgCS" style="width: 100%; text-align: center;">

  </div>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- The above form looks like this -->
  <div class="container" id="masterAbaqus">
    <hr>
    <div class="row">
      <form onsubmit="getFile(); return false">

      <div class="row" style="text-align: center;">
        <label for="uploadFile" style="font-size: 1.5em;"> Upload Data </label>
        <input type="checkbox" id="uploadFile" v-model='uploadFile' style="zoom:2">
      </div>

        <div class="row">
          <div class="six columns" v-if="!uploadFile">
            <label for="packingType">Packing Type</label>
            <select class="u-full-width" id="packingType" v-model='packingType'>
              <option value="random">Random</option>
              <option value="cubic">Cubic</option>
              <option value="hex">Hexagonal</option>
            </select>
          </div>
          <div class="six columns" v-if="packingType == 'random'">
            <label for="smallFib">Smaller Fibres</label>
            <input type="checkbox" id="smallFib" v-model='smallFib' style="zoom:2">
          </div>
          <div class="six columns" v-if="uploadFile">
            <label for="csvData">CSV File</label>
            <input type="file" id="csvData" size="120" v-on:click="clearCSV" v-on:change="parseCSV">
          </div>
        </div>

        <h5 style="margin-left: 40%">Matrix Dimensions</h5>
        <div class="row">
          <div class="four columns">
            <label for="breadthMatrix">Breadth</label>
            <input type="number" id="breadthMatrix" min="0" v-model='breadthMatrix'>
          </div>
          <div class="four columns" v-if="packingType == 'random' || uploadFile">
            <label for="lengthMatrix">Length</label>
            <input type="number" id="lengthMatrix" min="0" v-model='lengthMatrix'>
          </div>
          <div class="four columns">
            <label for="depthMatrix">Depth/Height</label>
            <input type="number" id="depthMatrix" min="0" v-model='depthMatrix'>
          </div>
        </div>
        <hr>

        <div class="row">

          <div class="six columns">
            <label for="volumeFraction">Volume Fraction</label>
            <input class="u-full-width" type="number" min="0" max="1" step="0.001" v-model='volumeFraction'
              placeholder="0.5" id="volumeFraction" required :disabled="uploadFile">
          </div>

          <div class="six columns">
            <label for="numFibres">Number of Fibres</label>
            <input class="u-full-width" type="number" min="0" v-model='numFibres' placeholder="20" id="numFibres"
            required :disabled="uploadFile">
          </div>
        </div>

        <hr>

        <button type="button" style="margin-left: 40%" class="button-primary" v-if="!uploadFile" id="buttonCS" :onclick="'generate_' + packingType + '()'">Generate Cross Section</button>
        <button type="button" style="margin-left: 40%" class="button-primary" v-if="uploadFile" id="buttonCS" :onclick="'generate_upload()'">Generate Cross Section</button>
        <hr>
        <div class="row">
          <div class="six columns">
            <label for="fibreProperty">Fibre Property</label>
            <input type="text" placeholder="Steel" id="fibreProperty" v-model='fibreProperty' required>
          </div>

          <div class="six columns">
            <label for="matrixProperty">Matrix Property</label>
            <input type="text" placeholder="Concrete" id="matrixProperty" v-model='matrixProperty' required>
          </div>
        </div>
  <!--       <hr>
        <div class="row">
          <div class="six columns">
            <label for="elementType">Element Type</label>
            <select class="u-full-width" id="elementType" v-model='elementType'>
              <option value="hex">Hex</option>
              <option value="tet">Tetrahedron</option>
            </select>
          </div>
        </div>
        <hr>
        <div class="row">

          <div class="six columns">
            <label for="meshSeed">Mesh Seed Size</label>
            <input type="number" min="0" id="meshSeed" step="any" :max='padding' placeholder="0" v-model='meshSeed' required>
          </div>

          <div class="six columns">
            <label for="loading">Loading</label>
            <select class="u-full-width" id="loading" v-model='loading'>
              <option value="loading">Loading</option>
              <option value="displacement">Displacement</option>
            </select>
          </div>
        </div>
        <hr>
        <h5 class="six columns offset-by-four u-full-width">Direction of Loading</h5>

        <div class="row">
          <div class="two columns offset-by-three">
            <label for="xComp">X Component</label>
            <input type="checkbox" id="xComp">
            <label for="xComp-both">Two Way</label>
            <input type="checkbox" id="xComp-both">
          </div>
          <div class="two columns">
            <label for="yComp">Y Component</label>
            <input type="checkbox" id="yComp">
            <label for="yComp-both">Two Way</label>
            <input type="checkbox" id="yComp-both">
          </div>
          <div class="two columns">
            <label for="zComp">Z Component</label>
            <input type="checkbox" id="zComp">
            <label for="zComp-both">Two Way</label>
            <input type="checkbox" id="zComp-both">
          </div>
        </div>
   -->      <hr>
        <div class="row">
          <div class="six columns offset-by-three">
            <label for="fileName">File Name</label>
            <input class="u-full-width" type="text" value="sample.json"  id="fileName" v-model='fileName' required>
          </div>
        </div>

        <button type="submit" style="margin-left: 40%" class="button-primary" >Generate File</button>

      </form>
    </div>
  </div>

  <script type="text/javascript" src='js/FileSaver.js'></script>
  <script type="text/javascript" src='js/mitchell.js'></script>
  <script type="text/javascript" src='js/d3.v3.min.js'></script>
  <script type="text/javascript" src='js/vue.min.js'></script>
  <script type="text/javascript" src="js/alertify.js"></script>
  <script type="text/javascript" src='js/toxiclibs.min.js'></script>
  <script type="text/javascript" src='js/papaparse.min.js'></script>
  <script type="text/javascript" src='js/abaqus.js'></script>

</body>
</html>
